body{
    margin: 0px;
}
form{
    padding: 0px;
    margin: 0px;
}
.float_left{float:left}
.float_right{float:right}
.clear{ clear: both}
.right{text-align: right;}
.left{text-align: left}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: brown;
}

.notice_erro{
    //display: none;
    border: red 1px solid;
    background: cornsilk;
    margin: 20px auto;
    width: 480px;
    font-weight: bold;
}
.notice_erro .child,.notice .child{
    margin: 10px;
    
}
.notice{
    //display: none;
    padding: 10px;
    border:1px solid blue;
    background: aliceblue;
    margin: 20px auto;
    width: 480px;
    font-weight: bold;   
}

.title{
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}
#content {
	margin-right:auto;
	margin-left:auto;
	width:990px;
        background:#fff url(../images/gradient.png) repeat-x 0 28px;
        background-position:0 1px;
        padding:5px 5px 5px 5px;
        position:relative;
	zoom:1;
        border-top: 1px solid #eee;      
}
.enable{
    background: beige;
}
.name a{
    color: #666;
    font-weight:bold;
    text-decoration: none;
     font-size: 15px;
}
.name a:hover{
    color: darkred;
}
#wraper{
    text-align: center;
}
.infor_show{
    color: #333;
    font-size: 14px;
    
}
.infor_show a{
    
    color: #333;
    text-decoration: none;
     font-size: 14px;
     line-height: 28px;
     margin-left: 5px;
     padding-left: 20px;
}
 .edit{
    background: url("../images/edit.png") no-repeat;
    background-position:0px;
    padding-left: 20px;
}
 .view{
    background: url("../images/view.png") no-repeat;
     background-position:0px;
    padding-left: 20px;
}
 .delete{
    background: url("../images/delete.png") no-repeat;
     background-position:0px;
    padding-left: 20px;
}
.infor_show a:hover{
    color: darkred;
    border-bottom: 1px solid #666;   
}
.show_name{
     font-size: 14px;
     color: #666;
     line-height: 28px;
     padding-left: 5px;
     font-weight: bold;
     
}

.show_add a{
    color: #666;
    font-size: 18px;
    text-decoration: none;
}
#add table{  margin:auto; display:none;}
.show_data table{
    font-size: 14px;
     color: #333;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    text-align: left;
}
.show_data td{ 
    border: 1px solid #eee;
    border-bootom: 1px solid #eee;
    border-left: 0px;
    border-top: 0px;
}

#add input[type="text"]{
    border:1px solid #ccc;
    width: 400px; padding: 5px;
}
#add textarea{
    border:1px solid #ccc;
    width: 400px; padding: 3px;
    height: 60px;
}
#add select{ 
    border:1px solid #ccc;
    width: 400px; padding: 5px 60px 5px 3px;
}
input[type="submit"],input[type="reset"]{
    border: 0px;
    background:#333;
    color: #fff;
    padding: 5px 7px;
    margin-top: 10px;
    cursor: pointer; 
    border-radius:3px;
    border:1px solid #000;
}

input[type="submit"]:hover,input[type="reset"]:hover{
    background: brown;
    border: 0px;
     padding: 6px 8px;
}

#show_work a{
    text-decoration: none;
    width: 20px; height: 20px;
    border-radius: 10px;
    color: #000;
    padding: 1px 5px 1px 5px;
    margin-bottom: 10px;
}
#show_search{
    width: 25%;
    text-align: left;
    margin: 20px 0px;
    font-size: 13px;
    color: #333;
    
}
#show_search b{
    margin-left: 10px;
    font-size: 16px;
    padding: 5px 0px;
    color: brown;
}
#show_search span{
    color: brown;
}

#pagination{
    width: 75%;
}
.pagination{
    margin: 20px 0px;
    text-align: right;   
}
.pagination a{
    text-decoration: none;
    font-size: 14px;
    margin: 5px 3px;
    border:1px solid #ccc;
    padding:3px 10px;
}

.pagination span{
     font-size: 14px;
}
.current{
    color:#fff;
    padding:4px 11px;
    background:brown;
}
#ispage{
    color:#fff;    
    font-size: 15px;
    background: brown;
    border: 0px solid #ccc;
     padding:4px 11px 4px 11px;
}
#search{
    padding: 10px 0px;
    margin: 10px 10px -10px 10px;
    text-align: center;
    color: #333;
}
#input_search {
    background:#FcFcfc;
    box-shadow: 0px 0px 2px #eee;
    border: 1px solid #eee;
    //border-top: 1px solid #ccc;
    //border-radius: 0px 0px 10px 10px;
    width: 80%;
    
    margin: auto;
    padding: 0.5% 1%;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}
#search input[type="text"]{
    border: 1px solid #ccc; 
    padding: 6px;
    background: #fff;
}
#search select{
    border: 1px solid #ccc; 
    padding: 5px;
    background: #fff;
}


#export_excel{
    text-align: right;
    margin-right: 85px;
    padding: 0px;
}
#export_excel input[type="submit"]{
    background:url("../images/export.png") no-repeat;
    background-position: 5px;
    color: #000;
    border: 1px solid #333;
    padding:5px 3px 5px 25px;
    
}
#export_excel input[type="submit"]:hover{
    color: brown;
}

.com_name {
    
}
.com_address {
    width: 200px;
}
.com_profile {
    margin-left: 1px; margin-right: 0px; padding-left: 32px; width: 400px;
}
.com_operation {
    width:80px;
}

#footer{
                width: 990px;
                padding: 20px 5px;
                text-align: center;
                background:#666;
                color:#eee;
                margin: 0px auto;    
                font-size: 14px;
                
              
            }
/*-----------------Date datepicker -----------*/
#ui-datepicker-div{
    background: #fff;
    padding: 3px;
    box-shadow: 1px 2px 5px #999;
    display: none;
}
.ui-datepicker-header{
  //background: #ccc;
  border-bottom: 1px dashed #ccc;
  margin: 1px 0px 3px 0px;
  padding: 0px 0px 7px 0px;
}
/*.ui-datepicker-header a:hover{
    background: brown;
    color: #fff;
    border: 0px;
    text-decoration: none;
    border-radius: 40px;
}*/
.ui-datepicker-header a{
   text-align: center;
   font-size: 12px; 
   width: 15%;
   border: 1px solid #ccc;
   padding: 1px 3px;
}
.ui-datepicker-prev{   
    float: left; 
}
.ui-datepicker-next{
 float: right; 
}
.ui-datepicker-title{
    margin: 0px 15%;
    text-align: center;
    font-weight: bold;
}
.ui-datepicker-calendar thead th span{
    clear: both;
    font-size: 13px;
    font-weight: 600;
    padding:0px 2px;
    
}
.ui-datepicker-calendar tr td{
    background: #F7F4E9;
    margin: 2px;
    padding: 3px;
    font-size: 13px;
    text-align: right;
}
.ui-datepicker-calendar tr .ui-datepicker-today{
    background: #fff;
    border:1px solid #999;
}
.ui-datepicker-calendar tr .ui-datepicker-current-day{
    background: brown;
    color: #fff;
}
.ui-datepicker-calendar tr .ui-datepicker-current-day a{
    color: #fff;
}

